{% extends 'blog/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
        <h2><a class="article-title" href="#">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
            <hr>
        <div class="article-metadata">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
          <a class="mr-2" href="#">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"F d, Y"}}</small>
        </div>
      </div>
    </article>
{% endblock content %}
